.bg-teal {
  background-color: #79B4B7;
}

.page {
  min-height: 100vh;
}

.section-header {
  /* background-color: #79B4B7; */
  background-image: linear-gradient(to right, transparent 0%, #79b4b7 30%);
  color: white;
  text-align: right;
  padding: 10px
}

p {
 font-size: large;
  color: #79B4B7
}

@media screen and (max-width: 800px){
  .section-header {
    text-align: center;
    background-image: linear-gradient(to right, transparent 0%, #79b4b7 10%, #79b4b7 90%, transparent 100%);
  }
  p {
    text-align: center;
    margin: 5px;
  }
  
}

.text-body {
  padding: 20px;
  border:#79B4B7 5px solid;
}